@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background-color: #7D889E;
}

.section-main {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.div-main {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.qr-background {
    border-radius: 10px;
    background-color: #2C7DFA;
    padding: 50px;
    text-align: center;
    margin: 0;
}


.text{
    text-align: center;
}

.text_p1 {
    font-weight: bold;
    color: #1F314F;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
}

.text_p2{
    font-size: 12px;
    color: #7D889E;
    font-family: "Space Mono", monospace;
}

